body h1 {
  text-align: center;
}
#container {
  background-color: bisque;
  width: 600px;
  margin: 0px auto;
  height: 300px;
}

.artical {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: blueviolet;
  display: inline-block;
}
